<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCzyGghL5dLVqWMgDZi2TyzyxSkgLvog4</string>
	<key>GCM_SENDER_ID</key>
	<string>527856994660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyBud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>studybudtest</string>
	<key>STORAGE_BUCKET</key>
	<string>studybudtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527856994660:ios:e1cc8ba1465b7239601271</string>
</dict>
</plist>